################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/collab-teleport/bin/Debug/netstandard2.0
/collab-teleport/obj/Debug/netstandard2.0
/collab-teleport/obj
/.vs/collab-teleport
/output
/redist
*.zip
